.section{
    position:absolute;
    background-color: black;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
    overflow: hidden;
}

@media (max-width: 30em){
    .section{
        z-index: 4;
    /* height: 100vh; */
    width: 105vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transform: rotate(
90deg);
    height: 100vw;
    transform-origin: bottom left;
    margin-top: -100vw;
    display: flex;
    visibility: visible;
    object-fit: cover !important;
    overflow: hidden;
        

    }
}


@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
      width: 100%;
      position: fixed;
    top: 0;
    left: 0;
    right: 0;
      transform: rotate(
90deg);
    height: 100vw;
    margin-top: -100vw;
    display: flex;
    visibility: visible;
    object-fit: cover !important;
    overflow: hidden;
    }
  }